.page-template-homepaid {
  font-weight: 300;

  .overflow-container {
    background: $color-blue-light;
  }
  section {
    padding: $baseline-height * 2 0;
  }
  .heading {
    text-align: center;

    h1,
    h2 {
      font-weight: 700;
      @extend %thirty-seven-pixels;
    }
    p {
      color: $color-gray-medium;
      margin: $baseline-height / 2 auto $baseline-height * 2;
      max-width: 680px;
    }
  }
  .top {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    color: white;

    p {
      color: $color-gray-light;
      margin-bottom: $baseline-height;
    }
    .button {
      display: inline-block;
      padding: 5px 24px;
      text-decoration: none;
      color: white;
      border: solid 1px white;

      &:link,
      &:visited {
        color: white;
      }
      &:hover,
      &:active,
      &:focus {
        color: white;
      }
    }
    .sign-up {
      border-color: $color-green-medium;
      margin-right: 20px;
    }
  }
  .benefit-1 {
    position: relative;
    z-index: 9;
    margin-top: -12px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: -999px;
      bottom: 0;
      left: -999px;
      background: $color-yellow;
    }
    .message {
      background: white;
      box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.1);
      border-left: solid 4px $color-gray-light;
      padding: $baseline-height / 2 $column;

      img {
        width: 60px;
        height: 60px;
        float: left;
        margin-right: $baseline-height / 2;
      }
      span {
        font-weight: 700;
        color: $text;
      }
    }
    .user {

      p {
        margin: 0 0 $baseline-height / 2;
        color: $color-gray-medium;
      }
    }
    .question {
      border-top: solid 1px $color-off-white;

      p:first-child {
        font-weight: 700;
        margin-bottom: 0;
      }
      p:last-child {
        color: $color-gray-medium;
        @extend %twelve-pixels;
        margin-top: 0;
      }
    }
    .steps {
      position: relative;
      background: white;
      box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.1);
      padding: $baseline-height $column;
      margin: $baseline-height 0;

      h3 {
        font-weight: 700;
      }
      ol {
        margin-bottom: $baseline-height / 2;
      }
      img {
        width: 36px;
        height: 36px;
        position: absolute;
        top: $baseline-height;
        right: $column;
      }
    }
    .with-blendapp {

      img {
        height: 26px;
      }
    }
  }
  .benefit-2 {
    position: relative;
    z-index: 9;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: -999px;
      bottom: 0;
      left: -999px;
      background: white;
    }
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      margin: $baseline-height / 2 0 $baseline-height * 1.5;

      p {
        margin: $baseline-height / 2 0;
        color: $color-gray-medium;
      }
    }
    img {
      height: 48px;
      width: auto;
      margin-bottom: $baseline-height / 2;
    }
    h3 {
      font-weight: 700;
    }
    span {
      @extend %twelve-pixels;
      color: $color-green-medium;
    }
  }
  .how-it-works {
    padding-bottom: 0;
    max-width: 800px;
    margin: 0 auto;

    .heading {

      h2 {
        color: white;
      }
      p {
        color: $color-gray-light;
      }
    }
    .document {
      position: relative;
      background: white;
      border-radius: 12px;
      padding: $baseline-height $column;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-right: solid 48px $color-blue-light;
        border-bottom: solid 48px transparent;
      }
      &:before {
        content: '';
        position: absolute;
        top: 48px;
        left: 100%;
        bottom: 0;
        border-left: solid 400px #485763;
        border-top: solid 400px transparent;
      }
      h3 {
        @extend %uppercase;
        font-size: 1em;
        line-height: 1.5;
        font-weight: 700;
        color: $color-gray-light;
        border-bottom: solid 1px $color-off-white;
        padding-bottom: $baseline-height;
      }
      ol {
        position: relative;
        list-style: none;
        margin: $baseline-height 0 $baseline-height * 2;

        &:after {
          content: '';
          position: absolute;
          top: 12px;
          left: 24px;
          bottom: 12px;
          width: 2px;
          background: #dbdbdb;
        }
      }
      li {
        margin: $baseline-height 0;
      }
      h4 {
        @extend %twenty-one-pixels;
        font-weight: 700;
      }
      p {
        color: $color-gray-medium;
        margin: 6px 0 0;
      }
      .dog-ear {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: solid 48px #E6E6E6;
        border-top: solid 48px transparent;
      }
    }
    .icon {
      position: relative;
      z-index: 9;
      width: 48px;
      height: 48px;
      float: left;
      margin: 0 $baseline-height / 2 $baseline-height 0;
    }
  }
  .pricing {
    position: relative;
    z-index: 19;
    margin-top: -12px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: -999px;
      bottom: 0;
      left: -999px;
      background: white;
    }
  }
}

@media all and (min-width: $four-hundred) {

  .page-template-homepaid {

    .benefit-1 {

      .message {

        span {
          line-height: 60px;
        }
      }
    }
  }
}

@media all and (min-width: $six-hundred) {

  .page-template-homepaid {

    .how-it-works {

      .document {
        padding: $baseline-height $column * 2;

        &:after {
          border-right: solid 60px $color-blue-light;
          border-bottom: solid 60px transparent;
        }
        &:before {
          top: 60px;
        }
        .dog-ear {
          border-left: solid 60px #E6E6E6;
          border-top: solid 60px transparent;
        }
      }
      .icon {
        margin-right: $baseline-height;
      }
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .page-template-homepaid {

    .benefit-1 {

      &:after {
        @include clearfix;
      }
      .steps {
        width: 48.4375%;
        float: left;
        height: 276px;
        margin-bottom: 0;
      }
      .without-blendapp {
        margin-right: $column;
      }
    }
    .benefit-2 {

      ul {

        &:after {
          @include clearfix;
        }
      }
      li {
        width: 48%;
        float: left;

        &:nth-child(odd) {
          margin-right: 4%;
        }
      }
    }
    .how-it-works {

      .document {
        padding: $baseline-height $column * 3;

        &:before {
          top: 96px;
        }
        &:after {
          border-right: solid 96px $color-blue-light;
          border-bottom: solid 96px transparent;
        }
        .dog-ear {
          border-left: solid 96px #E6E6E6;
          border-top: solid 96px transparent;
        }
        h3 {
          margin-right: 45px;
        }
        li {
          margin-bottom: $baseline-height * 2;
        }
        ol {
          margin-bottom: $baseline-height * 4;
        }
      }
    }
  }
}

@media all and (min-width: $nine-fifty) {

  .page-template-homepaid {

    .benefit-1 {

      .user,
      .question {
        display: inline-block;
        vertical-align: middle;
        width: 323px;

        p {
          margin: 0;
        }
      }
      .question {
        border: none;
      }
    }
  }
}

@media all and (min-width: 1050px) {

  .page-template-homepaid {

    .benefit-1 {

      .user {
        border-right: solid 1px $color-off-white;
        margin-right: $baseline-height;
        padding-right: $baseline-height;
      }
    }
  }
}

@media all and (min-width: $twelve-hundred) {

  .page-template-homepaid {

    .benefit-2 {

      li {
        width: 46%;

        &:nth-child(odd) {
          margin-right: 8%;
        }
      }
    }
  }
}