/* keyword multiplier styles */

.page-template-keyword-multiplier {
  text-align: center;

  .overflow-container {
    padding: 0 !important;
    background: white;

    &:after {
      background: white;
    }
  }
  .main,
  .site-header {
    max-width: none;
  }
  .toggle-navigation {
    color: $color-gray-dark;
  }
  .site-header {
    padding: $baseline-height $column;
  }
  .max-width {
    width: 87.5%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .menu-primary {

    a {

      &:link,
      &:visited {
        color: $color-gray-medium;
      }
      &:hover,
      &:active,
      &:focus {
        color: $color-green-medium;
      }
    }
  }
  .main {
    padding: $baseline-height * 0.5 0 0;
  }
  .tool-container {
    margin: $baseline-height * 2.5 0 0;
    padding: $baseline-height * 2 0 $baseline-height * 1.5;
    background: $color-blue-medium;
    color: white;
  }
  h1 {
    color: $color-blue-dark;
  }
  .tagline {
    @extend  %twenty-eight-pixels;
  }
  .controls {
    margin: $baseline-height * 2.5 0;

    label {
      display: block;
      text-align: left;
      color: $color-gray-light;

      span {
        font-weight: 600;
        color: white;
      }
    }
    textarea {
      display: block;
      margin: 6px 0 0;
      width: 100%;
      font-size: 1em;
      line-height: 1.5;
      color: $color-blue-medium;
      outline: none !important;
    }
  }
  .step {
    width: 31.33%;
    float: left;

    &:first-child,
    &:nth-child(2n) {
      margin-right: 3%;
    }
  }
  .generate-keywords {
    border: none;
    background: $color-green-medium;
    font-family: $primary-font-stack;
    font-size: 1em;
    line-height: 1.5;
    color: white;
    display: inline-block;
    margin: $baseline-height * 2 auto 0;
    padding: $baseline-height / 4 $baseline-height;
    transition: background 0.15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background: $color-green-light;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .keyword-output {
    transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;

    &.glow {
      box-shadow: 0 0 16px 0 white;
      border-color: white;
    }
  }
  .ad {
    color: $color-gray-light;
  }
  .share-buttons {
    display: inline-block !important;
    margin-left: $baseline-height / 2;
    width: 120px !important;

    label {
      background: none !important;
      border: solid 1px white;
      border-radius: 0 !important;
      padding: 5px 24px !important;

      &:before {
        color: white;
      }
    }
    .social.middle.right {
      margin-left: 122px !important;
      margin-top: -41px !important;
    }
  }
}

@media all and (min-width: 500px) {

  .page-template-keyword-multiplier .site-header {
    padding: $baseline-height $column * 2;
  }
}

@media all and (min-width: 700px) {

  .page-template-keyword-multiplier .site-header {
    padding: $baseline-height $column * 3;
  }
}

// 900px
@media all and (min-width: 56.25em) {

  .page-template-keyword-multiplier {

    .main,
    .site-footer {
      width: 100%;
    }
  }
  .page-template-keyword-multiplier .site-header {
    padding: $baseline-height $column * 4;
  }
}

@media all and (min-width: 1100px) {

  .page-template-keyword-multiplier .site-header {
    padding: $baseline-height $column * 5;
  }
}

@media all and (min-width: 1310px) {

  .page-template-keyword-multiplier .site-header {
    padding: $baseline-height 0;
    max-width: 900px;
  }
}