/* Variables */

$primary-font-stack: 'Exo 2', sans-serif;
$baseline-height: 1.5em;
$column: 3.125%;

/* Colors */

$color-off-white: #F0F4F7;

$color-blue-dark: #152B3C;
$color-blue-medium-dark: #273947;
$color-blue-medium: #304657;

$color-gray-dark: #262F36;
$color-gray-medium: #536573;
$color-gray-light: #B3BEC7;

$color-green-medium: #59B390;
$color-green-light: #61C29D;

/***** Mixins *****/

@mixin clearfix {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/***** Silent Classes *****/

// 37px font
%thirty-seven-pixels {
  font-size: 2.3125em; /* 37px / 16px */
  line-height: 1.378; /* 51px */
}
// 28px font
%twenty-eight-pixels {
  font-size: 1.75em; /* 28px / 16px */
  line-height: 1.321; /* 37px */
}
// 21px font
%twenty-one-pixels {
  font-size: 1.3125em; /* 21px / 16px */
  line-height: 1.143; /* 24px */
}
// 13px font
%thirteen-pixels {
  font-size: 0.8125em; /* 13px / 16px */
  line-height: 1.385; /* 18px */
}
// 12px font
%twelve-pixels {
  font-size: 0.75em; /* 12px / 16px */
  line-height: 1.5; /* 18px */
}
// uppercase
%uppercase {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 400;
}